.c-the_top_bar-middle-search_bar-dropdown-history {
  &-header {
    line-height: 30px;
    position: relative;
    padding: 10px;

    h2 {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      color: #555;
    }
    img {
      filter: invert(20%);
      width: 20px;
      height: 20px;
      position: absolute;
      left: 70px;
      top: 14px;
      cursor: pointer;
    }
    img:hover {
      filter: invert(0%);
    }
  }
}
