$height: 300px;

.lyric {
  flex: 1 1 0;
  text-align: center;

  height: $height;
  position: relative;

  &-mask {
    position: absolute;
    content: "";
    right: 6px;
    left: 0;
    height: 14%;
    z-index: 1;
    &.top {
      top: 0;
      background: linear-gradient(0deg, transparent, var(--bg));
    }
    &.bottom {
      bottom: 0;
      background: linear-gradient(180deg, transparent, var(--bg));
    }
  }

  &-scroll-wrap {
    height: 100%;
    overflow-y: scroll;
  }

  &-warp {
    position: relative;
    transition: margin-top 0.3s;
    transform: translate(0, $height * 0.45);
    padding-bottom: $height * 0.5;
  }

  &-item {
    font-weight: 100;
    font-size: 1.1rem;
    margin-bottom: 0.4em;
    cursor: pointer;
  }

  section:last-of-type {
    font-size: 1.1em;
    font-weight: bold;
  }

  scrollbar-color: var(--bg-d) #fff;
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-d);
  }
}
