$height: 250px;

.lyric {
  flex: 1 1 0;
  text-align: center;

  height: $height;
  overflow-y: scroll;
  padding: 10px;

  &-warp {
    position: relative;
    transition: margin-top 0.3s;
    transform: translate(0, $height * 0.45);
    padding-bottom: $height * 0.5;
  }

  &-item {
    font-weight: 100;
    font-size: 1.1rem;
    margin-bottom: 0.4em;
    cursor: pointer;
  }

  section:last-of-type {
    font-size: 1.1em;
    font-weight: bold;
  }

  scrollbar-color: var(--bg-d) #fff;
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-d);
  }
}
