// the music player
.t_m_p {
  position: fixed;
  height: 80px;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid var(--bg-d);

  display: flex;
  align-items: center;
  padding: 0 0.8rem;

  transition: background-color 0.2s;

  * {
    background-color: transparent;
    color: inherit;
    transition: color 0.2s, background-color 0.2s;
  }

  &-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0.8rem;
    cursor: pointer;
    position: relative;

    &:hover {
      &::after {
        position: absolute;
        content: "";
        top: -0.3rem;
        bottom: -0.3rem;
        right: -0.3rem;
        left: -0.3rem;
        border-radius: 999px;
        background-color: currentColor;
        opacity: 0.08;
      }
    }

    &.none {
      cursor: default;
      &::after {
        content: none;
      }
    }

    &-svg {
      width: 100%;
      height: 100%;
    }
  }

  &-album,
  &-actions {
    flex: 1 1 0px;
    display: flex;
    align-items: center;
  }

  &-actions {
    justify-content: flex-end;
  }

  &-play {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    &-icons,
    &-bar {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-icons {
    }

    &-bar {
      height: 30px;
      margin-bottom: -12px;
      &-slide {
        $padding: 10px;
        width: 300px;
        height: 3px;
        margin: 0 0.8rem;
        padding: $padding 0;
        position: relative;
        transition: height 0.2s linear;

        &:hover {
          height: 5px;
        }
        &-full {
          background-color: currentColor;
          opacity: 0.3;
          width: 100%;
          height: 100%;
          border-radius: 99px;
        }

        &-done {
          background-color: currentColor;
          position: absolute;
          border-radius: 99px;
          top: $padding;
          bottom: $padding;
          left: 0;
          &-dot {
            position: absolute;
            right: 0;
            top: -10px;
            bottom: -10px;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 999px;
            background-color: currentColor;
            margin: auto;
            transform: translate(50%, 0);
          }
        }
      }
    }
  }
}
