$selected_grey_color: #f2f2f2;
$black_color: #373737;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: $black_color;
}

.header-btn {
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	outline: none;
	border: 1px solid #ccc;
	min-width: 95px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 8px;
}

.album_detail {
	&-header {
		display: flex;
		margin: 40px;

		&-img {
			width: 160px;
			height: 160px;
			margin-right: 40px;
		}

		&-main {
			&-title {
				display: flex;
				align-items: center;
				margin-bottom: 10px;

				&-tag {
					border: 1px solid red;
					font-size: 12px;
					color: red;
					width: 30px;
					height: 15px;
					line-height: 15px;
					text-align: center;
					margin-right: 10px;
				}

				&-content {
					// margin: 0;
					font-size: 19px;
				}
			}

			&-creator {
				display: flex;
				height: 20px;
				line-height: 20px;
				font-size: 12px;
				margin-bottom: 10px;

				&-avatar {
					width: 20px;
					height: 20px;
					border-radius: 50%;
					border: 1px solid #ddd;
					margin-right: 6px;
				}

				&-name {
					color: #507daf;
					margin-right: 6px;
				}
			}

			&-operations {
				display: flex;
				margin-bottom: 10px;

				.icon {
					width: 18px;
					height: 18px;
					margin-right: 4px;
				}

				&-play_all,
				&-subscribe,
				&-share,
				&-download {
					@extend .header-btn;
					color: #444;
				}

				&-play_all {
					background-color: red;
					color: #fff;
					width: 120px;

					.icon {
						filter: invert(100%) contrast(200%);
						width: 15px;
						height: 15px;
						margin: 0 5px 3px 5px;
					}
				}

				&-play_all:hover {
					background-color: #d73535;
				}

				&-subscribe:hover,
				&-share:hover,
				&-download:hover {
					background-color: $selected_grey_color;
				}
			}

			&-info {
				display: flex;
				font-size: 12px;

				&-track_count {
					margin-right: 10px;
				}
			}
		}
	}

	&-body {
		position: relative;

		.selected {
			font-size: 17px;
			font-weight: bold;
			border-bottom: 3px solid red;
		}

		&-page_selector {
			display: flex;
			justify-content: space-between;
			width: 200px;
			font-size: 14px;
			height: 30px;
			line-height: 30px;
			margin-left: 40px;

			&-song_list,
			&-comments,
			&-subscribers {
				cursor: pointer;
			}

			&-song_list:hover,
			&-comments:hover,
			&-subscribers:hover {
				color: #000;
			}
		}

		&-search_bar {
			position: absolute;
			right: 0;
			top: 0;

			&-input {
				outline: none;
				border: none;
				height: 24px;
				line-height: 24px;
				border-radius: 12px;
				width: 150px;
				padding: 0 10px;
				background-color: $selected_grey_color;
				font-size: 12px;
			}

			.icon {
				position: absolute;
				right: 8px;
				top: 4px;
				width: 14px;
				height: 14px;
			}
		}

		&-list {
			&-header {
				height: 30px;
				line-height: 30px;
				display: flex;
				font-size: 12px;
				margin: 0 50px;

				&-operation {
					width: 60px;
				}

				&-sort_by_title {
					padding-left: 5px;
					width: 450px;
				}

				&-sort_by_singer {
					padding-left: 5px;
					width: 200px;
				}

				&-sort_by_album {
					padding-left: 5px;
					width: 300px;
				}

				&-sort_by_time {
					padding-left: 5px;
					width: 100px;
				}

				&-sort_by_title:hover,
				&-sort_by_singer:hover,
				&-sort_by_album:hover,
				&-sort_by_time:hover {
					background-color: $selected_grey_color;
				}
			}

			&-item {
				display: flex;
				height: 30px;
				line-height: 30px;
				font-size: 12px;
				padding-left: 25px;

				&-count {
					width: 26px;
					color: #bbb;
				}

				&-operation {
					width: 60px;
					display: flex;
					align-items: center;

					.icon {
						filter: invert(70%);
						width: 16px;
						height: 16px;
					}
				}

				&-title {
					display: flex;
					width: 450px;
					padding-left: 5px;

					&-name {
						color: #000;
						margin-right: 5px;
					}

					&-info {
						color: #999;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
					}
				}

				&-arthor {
					width: 200px;
					padding-left: 5px;

					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				&-album {
					width: 300px;
					padding-left: 5px;
				}

				&-time {
					width: 100px;
					padding-left: 5px;
					color: #999;
				}
			}
		}
	}
}
