$black_color: #373737;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: $black_color;
}

.album_detail {
  margin-top: 90px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  }