.c-the_top_bar-middle-search_bar-dropdown-hotlist_wrapper {
  h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 10px;
  }

  &-hotlist {
    margin: 0;
    padding: 0;
  }
}
