@import "../../../../styles/css-constants.scss";

.album_detail-body {
  position: relative;
  padding: 0 1%;
  width: 100%;
  box-sizing: border-box;

  .selected {
    font-size: 17px;
    font-weight: bold;
    border-bottom: 3px solid var(--primary);
  }
}
