.user_detail-song_list-page_changer {
  display: flex;

  &-item {
    margin-right: 20px;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
    padding-bottom: 1.5px;
  }

  &-item.selected {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3.5px solid red;
  }
}