.user_detail-song_list-created_list-item {

  &-cover_img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  &-name {
    cursor: pointer;
    font-size: 15px;
  }

  &-name:hover {
    // color: #000;
    color: var(--dark);
  }

  &-count {
    font-size: 13px;
    color: #aaa;
  }
}