.album_detail-body-subscribers-item {
  display: flex;

  &-avatar {
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
  }

  &-user_info {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    flex-direction: column;

    &-upper {
      display: flex;
      align-items: center;
      height: 40px;

      &-nick_name {
        cursor: pointer;
      }

      &-nick_name:hover {
        // 待修改
        color: #000;
      }

      &-gender {
        border-radius: 50%;
        background-color: #c0f3ff;
        margin-left: 4px;
      }

      &-gender.female {
        background-color: #ffcde8;
      }
    }

    &-signature {
      height: 40px;
      line-height: 20px;
      font-size: 13px;
      // 超出部分省略
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; 
    }
  }
}
