.aside_bar {
  position: fixed;
  left: 0;
  width: 12rem;
  z-index: 1;
  height: calc(100vh - 60px - 80px);
  box-sizing: border-box;
  background-color: var(--bg);
  transition: all 0.5s;

  &.shrink {
    left: -12rem;
  }

  &-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1.5rem;
    margin: auto;
    width: 1.5rem;
    height: 4rem;
    background-color: var(--bg-d);
    z-index: 5;
    opacity: 0.7;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;

    &.show {
      display: flex;
    }

    &-icon {
      transition: all 0.5s;

      &.right {
        transform: rotate(180deg);
      }
    }
  }

  &:hover {
    .aside_bar-arrow {
      display: flex;
    }
  }

  &-wrap {
    height: 100%;
    overflow-y: scroll;
    background-color: var(--bg);
    border-right: 1px solid var(--bg-d);
    padding: 1rem 0.3rem;
    box-sizing: border-box;

    &::-webkit-scrollbar-thumb {
      background-color: var(--bg-d);

      &:hover {
        background-color: var(--bg-d);
      }

      &:active {
        background-color: var(--bg-d);
      }
    }
  }

  &-tab,
  &-my_music {
    padding: 0.5rem 1rem;
    margin-bottom: 0.1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-dim);
    }

    &.selected {
      font-weight: bold;
      background-color: var(--bg-dim);
    }
  }

  &-my_music {
    display: flex;
    align-items: center;
    font-size: 15px;

    &-icon {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
  }

  &-title {
    opacity: 0.5;
    font-size: 15px;
    padding: 0.5rem 1rem;
  }
}

.aside_bar-placeholder {
  min-width: 12rem;
  transition: all 0.5s;

  &.shrink {
    min-width: 0;
  }
}
