@import "../../../../../../styles/css-constants.scss";

.album_detail-body-search_bar {
  position: absolute;
  right: 30px;
  top: 0;

  &-input {
    outline: none;
    border: none;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    width: 150px;
    padding: 0 30px 0 10px;
    background-color: var(--bg-2);
    font-size: 12px;
  }

  .icon {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 10px;
    height: 10px;
    filter: invert(50%);
  }

  .icon:hover {
    filter: invert(20%);
  }
}
