body {
  --primary: #ec4141;

  --on-bg: #373737;
  --on-bg-d: #000000;

  --bg: #fff;
  --bg-d: #e1e1e1;

  --on-primary: #fff;
}

.dark {
  --on-bg: #d0d0d0;
  --on-bg-d: #fffff1;

  --bg-d: #212124;
  --bg: #2b2b2b;
}
