.spacer {
  flex: 1;
}

/* text primary */
.t-p {
  color: var(--primary);
}
/* text */
.t {
  color: var(--on-bg);
}
/* text dark*/
.t-d {
  color: var(--on--d);
}

/* background */
.bg {
  background-color: var(--bg);
}
/* background dark */
.bg-d {
  background-color: var(--bg-d);
}
