.primary-l-fill {
  fill: var(--primary-l);
}
.primary-fill {
  fill: var(--primary);
}

.secondary-fill {
  fill: var(--secondary);
}

.on-bg-fill {
  fill: var(--on-bg);
}
.on-p-fill {
  fill: var(--on-primary);
}
.on-bg-l-fill {
  fill: var(--on-bg-l);
}
.on-bg-d-fill {
  fill: var(--on-bg-d);
}
