.c-play_icon {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;

  background-color: var(--bg-d);

  &-svg {
    width: 40%;
    fill: var(--primary);
    margin-right: -5%;
  }
}
