.home {
  margin: 0 1rem;
  padding-bottom: 3rem;
  position: relative;
  flex: 1;

  .carousel {
    margin-top: 2rem;
  }

  &-r_pl {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-personalized {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-new_songs {
    display: flex;
    flex-wrap: wrap;
  }
}
